{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>

<!-- add this inside <head> -->

<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div class="signup-login">
        <div class="signup-box">
            <form method="post">
                {% csrf_token %}

                <div class="heading">
                    Signup
                </div>

                <div class="line"></div>

                <div class="field">
                    <b>Username</b>
                    <input type="text" required class="inp" placeholder="Enter your username" name="fnm">
                </div>

                <div class="field">
                    <b>Email</b>
                    <input type="email" required class="inp" placeholder="Enter your email" name="email">
                </div>

                <div class="field">
                    <b>Password</b>
                    <input type="password" required class="inp" placeholder="Enter your password" name="pwd">
                </div>

                <div class="field">
                    <input type="submit" class="submit-button" value="Submit">
                </div>

                <div class="field">
                    <b>Already you have an account?</b>
                    <br>
                    <a href="/loginn">Login</a>
                </div>

            </form>
        </div>
    </div>
</body>

</html>